.maincontent{
	background:url(../images/shadow_2.png) repeat-x left top #FFF;
	z-index: 2;
	width:100%;
	float:left;
}
.new-list{
	max-width: 980px;
	margin:0 auto;
	margin-top:10px;
}
.news-list-wrap {
    border: 1px solid #dadada;
    position: relative;
    overflow: hidden;
    width: 73%;
    float: left;
    background-color: #f2f2f2;
    padding-bottom: 1px;
}
.news-list-header{
	float: left;
    font-family: "tpb_neo_sansbold";
    font-size: 17px;
    padding-left: 10px;
    padding-right: 9px;
    color: #652d89;
    line-height: 40px;
    z-index: 2;
    position: relative;
}
.news-list-header a{
	color:#652d89;	
	font-weight: 400;
}
.arrow-right{
	float: left;
    width: 4px;
    height: 24px;
    background-color: #f07d22;
    margin-top: 8px;
    z-index: 2;
    position: relative;
}
.newsticker{
	height:40px;
	overflow:hidden;
	margin-left:10px;
	float:left;
}
.newsticker ul li span{
	color:#66338a;
}
.newsticker ul li a{
	color:#4b4b4b;
}
.newsticker ul li a:hover{
	color:#f58220;
}
/*Khám phá TPBank*/
.slider-wrapper
{
	width: 100%;
	position: relative;
	overflow: hidden;
}
#discover_tpbank {
    background: #592e76 url(../images/bg_wide.png) no-repeat scroll center center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    visibility: hidden;
}
#popup_widget_wrapper {
    position: relative;
}
#bt_popup_widget {
    background: #652c8a none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 38px;
    left: -125px;
    padding-top: 12px;
    position: absolute;
    text-align: center;
    top: 175px;
    transform: rotate(-90deg);
    width: 200px;
    z-index: 10;
    visibility: visible;
}
#popup_widget {
    position: static;
	margin:0 auto;
    text-align: center;
}
#bt_popup_widget:hover
{
	background: #ff871f;
}
#popup_widget_wrapper .popup_title 
{
	color: #fff;
    font-size: 30px;
    margin: 0;
    text-align: center;
    padding-top: 45px;
}
#bt_close_popup_widget {
    background: rgba(0, 0, 0, 0) url(../images/btn_close.png) no-repeat scroll 0 0;
    border: 2px solid #ff871f;
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 46px;
    z-index: 10;
}
#bt_close_popup_widget:hover
{
	background-color: #ff871f;
}
.floatbt_button {
    left: 0;
    top: 0;
}
ul.floatbt_wrapper > li {
    display: block;
    list-style: outside none none;
    padding: 0;
    position: relative;
    display: none;
    animation: li_button_wrapper 2s ease 2s forwards;
}
@keyframes li_button_wrapper {
    from {margin: 0 -40px;}
    to {margin: 0 15px;}
}
ul.floatbt_wrapper > li.active .label
{
	display: block !important;
}
ul.floatbt_wrapper > li.active a{
	background:#FFF;
}
#popup_widget .floatbt_button a, #popup_widget .sub2 .floatbt_button.floatbt_parent a {
    background: #ff861f none repeat scroll 0 0;
    cursor: pointer;
    padding: 25px;
    transition: background-color 0.2s linear 0s;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt1
{
	background:url(../images/button/btn_personal.png) no-repeat #ff861f;
	background-position-x: 22px;
    background-position-y: 20px;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt1:hover, #popup_widget .floatbt_button.floatbt_parent.active a#floatbt1
{
	background:url(../images/button/btn_personal.png) no-repeat #FFF;
	background-position-x: 22px;
    background-position-y: -57px;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt2
{
	background:url(../images/button/btn_corporate.png) no-repeat #ff861f;
	background-position-x: 22px;
    background-position-y: 20px;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt2:hover, #popup_widget .floatbt_button.floatbt_parent.active a#floatbt2
{
	background:url(../images/button/btn_corporate.png) no-repeat #FFF;
	background-position-x: 22px;
    background-position-y: -57px;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt3
{
	background:url(../images/button/btn_premier.png) #c6a47e no-repeat;
	background-position-x: 22px;
    background-position-y: 20px;
}
#popup_widget .floatbt_button.floatbt_parent a#floatbt3:hover, #popup_widget .floatbt_button.floatbt_parent.active a#floatbt3
{
	background:url(../images/button/btn_premier.png) no-repeat;
	background-position-x: 22px;
    background-position-y: -57px;
    background-color: #FFF;
}
#popup_widget .floatbt_button.active > a.bt_root, #popup_widget .sub2 .floatbt_button.active > a, #popup_widget .sub3 .floatbt_button.active > a {
    background: #fff none repeat scroll 0 0;
}
#popup_widget .floatbt_button .icon_wrapper {
    height: 28px;
    padding-top: 2px;
    width: 30px;
}
#popup_widget .floatbt_button .icon_wrapper div {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 5px;
    transition: transform 0.2s linear 0s;
    width: 100%;
}
#popup_widget .floatbt_button.active a.bt_root .icon1 {
    transform: translate(0px, 11px) rotate(45deg);
}
#popup_widget .floatbt_button.active a.bt_root .icon2 {
    transform: scale(0, 0);
}
#popup_widget .floatbt_button.active a.bt_root .icon3 {
    transform: translate(0px, -11px) rotate(-45deg);
}
#popup_widget .floatbt_button a:hover .icon_wrapper div, #popup_widget .floatbt_button.active a.bt_root .icon_wrapper div {
    background: #ff861f none repeat scroll 0 0;
}
.close_bt_root
{
	background: #fff;
    color: #f58220;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    z-index: 10;
    position: absolute;
    top: 115px;
    display: none;
    animation: close_bt_root 2s ease 2s forwards;
}
@keyframes close_bt_root {
    0% {top: -200px}
    100% {top: 115px}
}
.close_bt_root i {
    font-size: 30px;
    font-weight: 400;
    line-height: 80px;
}
.bt_wrapper
{
	display: inline-block;
	animation: bt_wrapper 3s ease 3s forwards;
}
@keyframes bt_wrapper {
    from {top: -300px;}
    to {top: 0;}
}
.floatbt_wrapper, .floatbt_button {
    display: inline;
    float: left;
    padding-left: 0px;
}
.floatbt_button a {
    background: #ccc none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    padding: 20px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.floatbt_wrapper li .label
{
	display: none;
	color: #fff;
	position: absolute;
	left: -11px;
	top: 88px;
	width: 103px;
	font-size:18px;
}

.conten_cate_kp
{
	display: none;
}
#conten_floatbt {
    display: inline;
    left: -320px;
    position: absolute;
    top: 150px;
    transition: all 2s ease-in-out 0s;
    width: 980px;
}
.conten_cate_kp .label_sub
{
	width: 135px;
	color: #fff;
	text-align: center;
	left: -34%;
	position: relative;
	margin-top: 10px;
	display: none;
}
.conten_cate_kp li
{
	width: 80px;
    margin-right: 30px;
}
.bt_wrapper
{
	display: inline-block;
	margin-top: 50px;
	
}
@keyframes conten_cate_kp_li {
    from {opacity: 0}
    to {opacity: 1}
}
.conten_cate_kp li:last-child
{
    margin-right: 0;
}
.conten_cate_kp ul
{
	display: inline-block;
	text-align: center;
	padding-left: 0px;
}
#popup_widget .floatbt_button a.bt_float21, #popup_widget .floatbt_button a.bt_float11 {
    background: #936cac none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float22, #popup_widget .floatbt_button a.bt_float12 {
    background: #5e2e86 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float23, #popup_widget .floatbt_button a.bt_float13 {
    background: #542f87 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float14 {
    background: #913f91 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float24, #popup_widget .floatbt_button a.bt_float15 {
    background: #a03a8c none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float25, #popup_widget .floatbt_button a.bt_float16 {
    background: #c73e90 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float26, #popup_widget .floatbt_button a.bt_float17 {
    background: #dd5928 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float27, #popup_widget .floatbt_button a.bt_float18 {
    background: #f68220 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float28, #popup_widget .floatbt_button a.bt_float19 {
    background: #feb913 none repeat scroll 0 0;
}
#popup_widget .floatbt_button a.bt_float31, #popup_widget .floatbt_button a.bt_float32, 
#popup_widget .floatbt_button a.bt_float33, #popup_widget .floatbt_button a.bt_float34, 
#popup_widget .floatbt_button a.bt_float35 
{
    background: #c6a47e none repeat scroll 0 0;
}
#popup_widget .floatbt_button.floatbt_child a:hover
{
	background: #ff861f !important;
}
#popup_widget .floatbt_button.floatbt_child a img
{
	max-width:40px;
	margin-top: -4px;
    margin-left: -5px;
}
#popup_widget #floatbt3 .floatbt_button.floatbt_child a:hover
{
	background: #FFF !important;
}
#popup_widget #floatbt3 .floatbt_button.floatbt_child a:hover img
{
	margin-top:-70px;
}

/*Slide New*/
.bx-wrapper {
    background: none !important;
    border: medium none;
    box-shadow: none;
    margin-bottom: 0;
}
.block-tinvan .bx-viewport
{
	margin-top: 15px;
}
/*-------------------*/
.news-list-wrap-bt{
    width: 26%;
    float: right;
    padding-bottom: 0px;
	border: 1px solid #dadada;
	background-color: #f2f2f2;
}
.news-list-bt{
    float: right;
    margin-top: 4px;
    margin-right: 5px;
	width:120px;
}
.news-list-bt a
{
    float: right;
}
.home-category{
	margin-bottom:40px;
    position: relative;
}
.home-category-topic{
	color: #652d89;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin: 30px auto 10px;
    font-family: "tpb_neo_sansbold";
    max-width: 980px;
}
.home-category-head{
	float: left;
    width: 100%;
}
.home-category-head-line{
	border-bottom: 5px solid #d2c8e3;
    margin-top: 181px;
}
.home-category-head ul{
	margin: 0 auto;
    max-width: 980px;
    padding: 0;
    list-style: none;
}
.home-category-head ul li a
{
    background: #f2edf8;
	border-right:1px solid #FFF;
	border-left:1px solid #FFF;
    border-top: 5px solid #f2edf8;
    color: #8d64a9;
    cursor: pointer;
    display: inline-block;
    font-family: "tpb_neo_sansbold";
    font-size: 16px;
    text-align: center;
    width: 194px;
    padding-top: 5px;
	float:left;
}
.home-category-head ul li a
{
	color: #8d64a9;
}
.arrow-down{
	color: #ae8ac5;
    font-size: 26px;
    margin-top: 15px;
    height: 40px;
}
.home-category-head ul li a.active{
	background: #fff;
    border-top: 5px solid #f58220;
    border-bottom: 5px solid #FFF;
}
.home-category-head ul li a:hover
{
	background: #fff;
	border-top: 5px solid #FFF;
}
.home-category-head ul li a.active i
{
	display: none;
}
.home-category-head ul li a.active .arrow-down
{
    background-image: url(../images/bt_arrow_product_array.png);
    background-position: center -10px;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    width: 100%;
}
.home-category-head ul li a.active .arrow-down {
    background-position: center -100px;
}
.home-category-body{
	max-width:980px;
	margin:0 auto;
}
.cate-body-highlight{
	color: #652d89;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    font-family: "tpb_neo_sansbold";
}
.cate-body-content{
    margin-top: 30px;
}
.cate-body-content-box {
    background-color: #fff;
    color: #4b4b4b;
    float: left;
    height: 295px;
    width: 303px;
    position: relative;
    margin-right: 30px;
    border: 1px solid #ddd;
}
.cate-body-content-box:hover, .cate-body-content-box:focus {
    background-color: #ad89c3;
}
.cate-body-content-box a{
	color: #4b4b4b;
    display: block;
    height: 290px;
}
.cate-body-content-box a:hover, .cate-body-content-box a:hover .content-box-inner-title{
	color: #FFF;
}
.cate-body-content-box a:hover .content-box-inner-body ul li{
	background:none;
}
.ctbd-content-box-inner{
	padding:20px;
}
.content-box-inner-title{
    font-family: "tpb_neo_sansbold";
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 15px;
	border-bottom:1px dashed #d3c8e3;
	color:#652d89;
}
.content-box-inner-body{
    height: 123px;
    overflow: hidden;
}
.content-box-inner-body ul
{
    list-style: none;
    padding-left: 0px;
}
.content-box-inner-body ul li{
	background:url(../images/icon/arrow_bullet.png) left 5px no-repeat;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.bt-m{
    font-size: 18px;
    padding: 13px 20px;
	text-align:center;
}
.ctbd-content-box-bottom{
	position: absolute;
    bottom: 20px;
	width:260px;
	padding:0 20px;
}
.cate-body-content-box-2 {
    background-color: #fff;
    color: #4b4b4b;
    float: left;
    height: 295px;
    position: relative;
    width:640px;
    position: relative;
}
.cate-body-content-box-2 a{
	color: #4b4b4b;
    display: block;
    height: 295px;
    overflow: hidden;
    position: relative;
}
.cate-body-content-box-2 .box-2-right-text
{
    right: 0;
    width: 50%;
    top: 0;
    position: absolute;
    height: 100%;
    background-color: rgba(80,54,121,0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.cate-body-content-box-2 .box-2-right-text p
{
    display: inline-block;
    padding: 9px 22px;
}
.cate-body-content-box-2 .box-2-right-text .box-2-left-text
{
    color: #fff;
    font-size: 20px;
}
.cate-body-content-box a-2:hover{
	color: #FFF;
}
.cate-body-content-box-2:hover, .cate-body-content-box-2:focus {
    background-color: #ad89c3;
}
.box-2-right{
	width:200px;
	background:#ad89c3;
	float:right;
	height:290px;
}
.box-2-left{
	float:left;
	width:400px;
	padding:60px 20px 0 20px;
}
.box-2-left-text{
	font-family: "tpb_neo_sansregular";
    font-size: 26px;
    line-height: 30px;
	color:#652d89;
}
.box-promotion {
    background-color: #f2edf8;
    background-image:url(../images/icon/star.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    color: #752f8a;
    font-family: "tpb_neo_sansbold";
    font-size: 16px;
    line-height: 35px;
    padding-left: 40px;
    margin-bottom: 10px;
}
.cate-body-content-box-2:hover .box-2-left-text{
	color:#FFF
}
.cate-body-content-box-2 .ctbd-content-box-bottom{
	position: absolute;
    bottom: 20px;
	width:160px;
	padding:0 20px;
}
.box-2-right img{
	margin-top:50px;
}
/*SUBMENU*/
.submenu-box{
    width:100%;
    float:left;
    margin-right:4px;
    height:100px;
    cursor: pointer;
    background-color: #e2d8e6;
    font-family: "tpb_neo_sansbold";
    color:#66338a;
    text-align:center;
}
.submenu-box.bg-orange{
    background:#e55d1d;
    color:#FFF;
}
.submenu-box.bg-orange:hover{
    background:#f68220;
}
.submenu-box:hover, .submenu-box:focus{
    background-color: #aa89b6;
    color:#FFF;

}
.submenu-box img{
    width:100%;
    height:auto;
}
.submenu-box img:hover{
    -webkit-filter: grayscale(0.6) brightness(140%);
}
.submenu-box h3{
    margin-top:-32px;
    font-size:16px;
    font-weight: 400;
}
.submenu-box-gold{
    width: 100%;
    height: 95px;
    color: #aa89b6;
    padding-top:5px;
}
.submenu-box:hover .submenu-box-gold, .submenu-box-gold:hover{
    color:#dbc8e2;
}
.submenu-box-gold p{
    font-family: "tpb_neo_sansbold";
    font-size: 16px;
    margin: 0;
}
.submenu-box-gold i{
    font-size: 21px;
}
.submenu-box-gold span{
    font-family: 'MyriadProSemibold';
    font-size:30px;
    line-height:30px;
}
.submenu-box-gold-tx{
    margin-top:-26px !important;
}
.submenu-popup {
    display: none;
}
.sub-menu-item
{
    display: inline-block;
    position: relative;
    width: 16.25%;
}
.sub-menu-item a:hover
{
	color: #f58220
}
.sub-menu-home-popup-top {
    background: url(../images/popup_top.png) no-repeat scroll 0 0;
    height: 7px;
    width: 202px;
}
.sub-menu-home-popup-mid {
    background: url(../images/popup_mid.png) repeat-y scroll 0 0;
    padding: 0 20px;
    width: 162px;
}
.sub-menu-home-popup-bot {
    background: url(../images/popup_bottom.png) no-repeat scroll 0 0;
    height: 22px;
    width: 202px;
}
.sub-menu-home-popup-mid ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sub-menu-home-popup-mid ul li {
    background: url(../images/bt_arrow_purpleorange.png) no-repeat scroll right 4px;
    border-bottom: 1px solid #b499c4;
    line-height: 31px;
    text-align: left;
}
.sub-menu-home-popup-mid ul li:hover
{
    background-position: right top -76px;
}
.sub-menu-home-popup-mid ul li.last {
    border-bottom: medium none;
}
.sub-menu-home-popup-mid ul li a {
    color: #5d2e87;
    font-family: "tpb_neo_sansbold";
    font-size: 18px;
}
.sub-menu-home-popup-mid ul li a:hover
{
    color: #e55d1d;
}
.sub-menu-tel-popup-mid {
    background: url(../images/tel_popup_mid.png) repeat-y scroll 0 0;
    padding: 0 20px;
    width: 267px;
}
.sub-menu-tel-popuptop {
    margin-bottom: 3px;
    padding-top: 5px;
}
.sub-menu-tel-popupbot {
    background-image: url(../images/bt_arrow_purpleorange.png);
    background-position: right top 7px;
    background-repeat: no-repeat;
    line-height: 30px;
}
.sub-menu-tel-popup-detail {
    color: #5d2e87;
    font-family: "tpb_neo_sansbold";
    font-size: 20px;
}
.sub-menu-tel-popup-detail .sub-menu-tel-popup-detail-head {
    color: #5d2e87;
    font-family: "tpb_neo_sansbold";
    font-size: 18px;
    line-height: 30px;
}
.sub-menu-tel-popup-detail a.tel-link {
    background: url(../images/phone.png) no-repeat scroll left center;
    border-bottom: 1px solid #b499c4;
    color: #5d2e87;
    display: block;
    font-family: "tpb_neo_sansbold";
    font-size: 18px;
    margin-left: 30px;
    padding: 7px 0 7px 20px;
}
.sub-menu-tel-popup-detail a:hover
{
	color: #f58220;
}
.sub-menu-tel-popupbot a {
    color: #5d2e87;
    font-family: "tpb_neo_sansbold";
    font-size: 18px;
    line-height: 30px;
}
.sub-menu-tel-popup-top {
    height: 10px;
    width: 307px;
    display: inline-block;
}
.sub-menu-tel-popup-bot {
    background: url(../images/tel_popup_bot.png) no-repeat scroll 0 0;
    height: 25px;
    width: 307px;
    display: inline-block;
}
.sub-menu-tools-popup {
    left: -22px;
    position: absolute;
    top: -89px;
}
.sub-menu-tel-popup {
    left: -76px;
    position: absolute;
    top: -205px;
}
.sub-menu-location-popup {
    left: -22px;
    position: absolute;
    top: -120px;
}
.sub-menu-exchange-popup {
    left: -22px;
    position: absolute;
    top: -91px;
}


